@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.textColor {
    color: #3a3a3a;
}

.myColor {
    color: #7510F7 !important;
}

.bgPerso {
    background-color: #7510F7;
    color: #FFFFFF;
}

.btn:visited {
    color: #ffffff;
}

.btn:hover {
    background-color: #8A33F7;
    color: #ffffff;
}

.menuFix {
    margin-top: 75px;
}

.fa-bars {
    font-size: 30px;
}

.photo {
    border: 2px solid #7510F7 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.interetCard {
    width: 20%;
    margin-top: 20px;
}

/* .goUp {
    position: fixed;
    bottom: 10%;
    right: 5%;
    -webkit-animation: shake-vertical 3s ease-out infinite both;
	animation: shake-vertical 3s ease-out infinite both;
}

@-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
   */
