@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.skillsCard {
    color: #7510F7;
    font-weight: bold;
}

a {
    color: #7510F7;
    text-decoration: none;
}

li {
    color: #7510F7;
    list-style: none;
}

.passion, .realisation, .contact {
    background-color: #7510F7;
    color: #FFFFFF;
}




.photo {
    border: 1px solid #7510F7;
}

.mycolor {
    color: #7510F7;
}
.myColorDrago {
    color: #7510F7;
    font-size: 28px;
}

.textColor {
    color: #3a3a3a;
}

footer {
    color: white;
    background-color: #7510f7;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #3a3a3a;
    padding-top: 10px;
}

.nav-item a {
    color: #7510f7 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}